{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h3>Agregar un producto a tu marcas</h3>
	<div class="form_container">
		<form method="post" action=".">{% csrf_token %}
        	{% csrf_token %}
        	{{ formnuevoproducto|crispy }}
	    	<input type="submit" value="Editar"/>
		</form> 
	</div>
{% endblock %}