{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block sub_menu %}
<ul>
	<li><a href="{% url 'home' %}">&lt; Back</a></li>	
</ul>
{% endblock %}

{% block content %}

<h3>Create Marca</h3>

<div class="form_container">
	<form method="post" action="{% url 'marca_create' %}">
        {% csrf_token %}
        {{ form|crispy  }}
	    <input type="submit" value="Create"/>
	</form>
</div>

{% endblock %}