{% extends 'base.html' %}
{% block content %}

<h3>Todos los productos</h3>

<div class="posts" >
{% for producto in vendedor.producto_set.all %}
	<div class ="post">
		<div class="title">nombre:{{ producto.nombre|upper }}</div>
		<div>precio:{{ producto.precio }}</div>	
		<div>
	    <br></br>	
		</div>
	</div>
{% empty %}
No hay producto
{% endfor%}
</div>

{% endblock %}