{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block sub_menu %}
<ul>
	<li><a href="{% url 'home' %}">&lt; Back</a></li>	
</ul>
{% endblock %}

{% block content %}

<h3>Edita tu marca!</h3>

<div class="form_container">
	<form   method="post" action=".">{% csrf_token %}
        {% csrf_token %}
        {{ formeditmarca|crispy }}
	    <input type="submit" value="Editar"/>
	</form> 
</div>
<h4>Agregar un nuevo vendedor</h4>
<div class="form_container">
	<form method="post" action=".">{% csrf_token %}
        {% csrf_token %}
        {{ formnuevovendedor|crispy }}
	    <input type="submit" value="Editar"/>
	</form> 
</div>

{% endblock %}