{% extends 'base.html' %}
{% block content %}

<h3>Todas las marcas</h3>

<div >
      {% for marca in marcas %}
      <li><a style="color:blue" href="{% url 'marca_detalle' marca.id %}"> {{ marca.nombre }} </a></li>
      <div>{{ marca.descripcion }}</div>
      {% endfor %}
</div>

{% endblock %}