{% extends 'base.html' %}
{% block content %}

<h3>{{ marca.nombre }}</h3>

<p>{{ marca.descripcion }}</p>
<p>{{ marca.rubro }}</p>
<div> <a style="color:red" href="{% url 'edit_mimarca' marca.id %}"> Editar marca </a> </div>

<p> Productos </p>

{% for prod in marca.get_prods %}
<div>

	<div>{{ prod.nombre }}</div>
	<div>{{ prod.precio }}</div>
	<div> <a style="color:red" href="{% url 'edit_producto' marca.id prod.id %}"> Editar producto</a> </div>
	<br>
</div>
{% empty %}
<div><i>No tiene productos</i></div>
{% endfor %}

<div> <a style="color:red" href="{% url 'add_producto' marca.id %}"> Agregar productos </a> </div>


<p> Vendedores </p>
<div >
{% for vendedor, productos in vendedores.items %}
	<div >
		<div>{{ vendedor.nombre }}</div>
		<div>{{ vendedor.email }}</div>
		<div>{{ vendedor.zona }}</div>	
		<div>
		{% for producto in productos %}
			<div> producto:
				<div>{{ producto.nombre }}</div>
				<div>{{ producto.precio }}</div>
			</div>
		{% empty %}
			<div><i>No tiene productos</i></div>
		{% endfor %}
		<div> <a style="color:red" href="{% url 'edit_vendedor' vendedor.id %}"> Editar vendedor </a> </div>
		<br></br>	
		</div>
	</div>
{% empty %}
No hay vendedores
{% endfor%}
<div> <a style="color:red" href="{% url 'add_vendedor' marca.id %}"> Agregar vendedor </a> </div>
</div>

{% endblock %}