{% extends 'base.html' %}
{% block content %}

<h3>Todas las playas</h3>

<div >
      {% for playa in playas %}
      <li><a style="color:blue" href="{% url 'playa_detalle' playa.id %}">{{ playa.nombre }}</a></li>
      {% endfor %}
</div>

{% endblock %}