{% extends 'base.html' %}
{% block content %}

<h3>{{ playa.nombre }}</h3>
<div>
      <li><a style="color:blue" href="{% url 'playa_zonas' playa.id %}">Zonas de la playa</a></li>
</div>
{% endblock %}