{% extends 'base.html' %}
{% block content %}

<h3>Todas las zonas de la playa </h3>

<div >
      {% for zona in zonas %}
      <li><a style="color:blue" href="{% url 'zona_detalle' zona.id %}">{{ zona.nombre }}</a></li>
      {% endfor %}
</div>

{% endblock %}