<html>
<head>
	<title>{% block title %}Este es el base{% endblock %}</title>	
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />

</head>
<body>
    <div id="header">
		<div>MyApp</div>
		<ul>
			<li><a href="{% url 'home' %}">Home</a></li><span>|</span>
			<li><a href="{% url 'lista_marcas' %}">Marcas</a></li><span>|</span>
			<li><a href="{% url 'lista_playas' %}">Playas</a></li><span>|</span>
			<li><a href="{% url 'aboutus' %}">Sobre nosotros</a></li><span>|</span>
		{% if user.is_authenticated %}
		    <li id="logs"> <a href="{% url 'logout' %}">Logout {{ user.username }} </a></li>
		    <li id="logs"> <a href="{% url 'miperfil' %}">Mi perfil {{ user.username }} </a></li>
		</ul>
		<ul>
            {% if user.is_duenio %}
            	{% if user.duenio.marca %}
				<li id="logs"> <a href="{% url 'mi_marca' %}"> Mi marca </a></li>
            	{% else %}
            	<li id="logs"> <a href="{% url 'marca_create' %}"> Crear marca </a></li>
            	{% endif %}
            {% endif %}
		</ul>
		{% else %}
		    <li id="logs"><a href="{% url 'login' %}">Login</a></li>
	    </ul>
	    {% endif %}
	</div>
	<div id="sub_menu">
	{% block sub_menu %}			
	{% endblock %}
	</div>
	<div id="content">
	{% block content %}This is the default content!{% endblock %}
	</div>
	<div id="footer">
		<div>Si queres vender con la APP envianos un mail a compraia@gmail.com</div>
	</div>
</body>
</html>