{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<p> Los campos obligatorios se indicar con un * </p>
<form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}"/>
    <input type="submit" value="Login"/>
</form>
<div >Si no tenes una cuenta <a id="reg" href="{% url 'registrarduenio' %}"> registrate! </a></div>
{% endblock %}