{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
	<h3>Edita tu perfil!</h3>

	<div class="form_container">
		<form method="post" action=".">{% csrf_token %}
        	{% csrf_token %}
        	{{ form|crispy }}
	    	<input type="submit" value="Editar"/>
		</form> 
	</div>
{% endif %}

{% endblock %}