{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
	{% if user.is_duenio %}
	<div>

	<p>{{ user.duenio.nombre }}</p>
	<p>{{ user.duenio.email }}</p>
	<p>{{ user.duenio.marca }}</p>

	</div>
	{% else %}

	<div>

	<p>{{ user.vendedor.nombre }}</p>
	<p>{{ user.vendedor.email }}</p>
	<p>{{ user.vendedor.marca }}</p>
	<p>{{ user.vendedor.zona }}</p>

	</div>
	{% endif %}
<div> <a style="color:red" href="{% url 'edit_miperfil' %}"> Editar </a> </div>
{% endif %}

{% endblock %}